#root {
  /* width: 100%; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: rgb(223, 224, 234);
}

.category {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  height: 6rem;
  padding: 1rem;
  background: rgb(255, 255, 255);
  max-width: 12rem;
  text-overflow: ellipsis;
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px; */
}